//primary color
$primaryColor: #ffffff;

//icon
@iconfont-css-prefix: none;

//background color
$backgroundColor: rgb(245, 240, 240);

//primary font
$primaryFont: Lato;

//primary text color
$primaryTextColor: black;

//placeholder color
$placeholderColor: rgb(202, 192, 192);

//active color
$activeColor: #d4f57a;

//unactive color
$unactiveColor: #b4b5b8;

//size logo
$widthLogoS: 60px;
$heightLogoS: 60px;
$widthLogoM: 70px;
$heightLogoM: 70px;

//size icon
$widthIconS: 25px;
$heightIconS: 25px;
$widthIconM: 75px;
$heightIconM: 75px;

//Text Size
$textSizeS: 14px;
$textSizeM: 20px;
$textSizeL: 25px;
$textSizeXL: 25px;
$textSizeXXL: 33px;
