@use 'base';

.logo {
  width: base.$widthLogoM;
  height: base.$heightLogoM;
}

.icon {
  width: base.$widthIconS;
  height: base.$heightIconS;
}

.controlicon {
  width: 20px;
  height: 20px;
}

.thumbnail {
  width: 80%;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
}

.decor {
  width: 75%;
  height: 80vw;
  max-height: 300px;
  background-color: base.$activeColor;
}

.control {
  width: base.$widthIconM;
  height: base.$heightIconM;
  border-radius: base.$heightIconM;
  background-color: base.$activeColor;
}

.activeborder {
  border-style: solid;
  border-bottom-width: 4px;
  border-color: base.$activeColor;
}

.activeicon {
  color: base.$activeColor;
}

.unactive {
  color: base.$unactiveColor;
}
